In [1]:
# Standard imports for performing the data analysis
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
# Import the covid19 data set and look at the first five rows 
covid_data = pd.read_csv('CA_Covid19_data.csv', index_col = 0)
covid_data.head(5)

,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
county,,,,,,,,
San Luis Obispo,2020-03-29,7.0,12.0,NaN,NaN,3.0,4.0,948.0
Madera,2020-03-29,1.0,6.0,NaN,NaN,1.0,1.0,8.0
Humboldt,2020-03-29,1.0,10.0,NaN,NaN,0.0,0.0,18.0
Modoc,2020-03-29,0.0,0.0,NaN,NaN,0.0,0.0,NaN
San Diego,2020-03-29,121.0,211.0,NaN,NaN,77.0,39.0,205.0

In [6]:
# Peak at the basic data statistics
covid_data.describe()

,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
count,19757.000000,19757.000000,18480.000000,18390.000000,19736.000000,19736.000000,18961.000000
mean,118.129473,19.854381,141.086147,1252.018271,31.677189,3.017379,47.401245
std,445.515498,67.931196,498.378023,2984.773028,108.209586,10.636017,129.758432
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-110.000000
25%,1.000000,0.000000,2.000000,56.000000,0.000000,0.000000,3.000000
50%,13.000000,1.000000,18.000000,330.000000,4.000000,0.000000,9.000000
75%,72.000000,14.000000,90.000000,1153.750000,20.000000,2.000000,39.000000
max,8098.000000,1350.000000,8422.000000,23989.000000,1731.000000,244.000000,1502.000000

In [7]:
# Double check the data types for each column
print(covid_data.dtypes)

todays_date                               object
hospitalized_covid_confirmed_patients    float64
hospitalized_suspected_covid_patients    float64
hospitalized_covid_patients              float64
all_hospital_beds                        float64
icu_covid_confirmed_patients             float64
icu_suspected_covid_patients             float64
icu_available_beds                       float64
dtype: object

In [8]:
# Check out the built in information for the table before performing analysis.
print(covid_data.info)

<bound method DataFrame.info of                 todays_date  hospitalized_covid_confirmed_patients  \
county
San Luis Obispo  2020-03-29                                    7.0
Madera           2020-03-29                                    1.0
Humboldt         2020-03-29                                    1.0
Modoc            2020-03-29                                    0.0
San Diego        2020-03-29                                  121.0
...                     ...                                    ...
Colusa           2021-03-16                                    1.0
San Joaquin      2021-03-16                                   78.0
Nevada           2021-03-16                                    8.0
Napa             2021-03-16                                    4.0
Marin            2021-03-16                                   15.0

                 hospitalized_suspected_covid_patients  \
county
San Luis Obispo                                   12.0
Madera                                             6.0
Humboldt                                          10.0
Modoc                                              0.0
San Diego                                        211.0
...                                                ...
Colusa                                             1.0
San Joaquin                                        8.0
Nevada                                             0.0
Napa                                               0.0
Marin                                              4.0

                 hospitalized_covid_patients  all_hospital_beds  \
county
San Luis Obispo                          NaN                NaN
Madera                                   NaN                NaN
Humboldt                                 NaN                NaN
Modoc                                    NaN                NaN
San Diego                                NaN                NaN
...                                      ...                ...
Colusa                                   2.0               48.0
San Joaquin                             86.0              891.0
Nevada                                   8.0              125.0
Napa                                     4.0              215.0
Marin                                   19.0              321.0

                 icu_covid_confirmed_patients  icu_suspected_covid_patients  \
county
San Luis Obispo                           3.0                           4.0
Madera                                    1.0                           1.0
Humboldt                                  0.0                           0.0
Modoc                                     0.0                           0.0
San Diego                                77.0                          39.0
...                                       ...                           ...
Colusa                                    0.0                           0.0
San Joaquin                              24.0                           4.0
Nevada                                    1.0                           0.0
Napa                                      1.0                           0.0
Marin                                     6.0                           0.0

                 icu_available_beds
county
San Luis Obispo               948.0
Madera                          8.0
Humboldt                       18.0
Modoc                           NaN
San Diego                     205.0
...                             ...
Colusa                          5.0
San Joaquin                    12.0
Nevada                          3.0
Napa                            1.0
Marin                          10.0

[19765 rows x 8 columns]>